/* колір основного тексту: #212121 */
/* вторинний колір: #757575 */
/* акцент: #2196F3 */
/* колір фону білий: #FFFFFF */
/* колір фону вторинний #F5F4FA */
/* колір фону футер: #2F303A */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* .link {
  text-decoration: none;
} */

/* Logo */
.logo {
  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--primary-white-color);
}
/* Site nav  */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .web {
  color: var(--accent-color);
}
.site-nav .studio {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
.auth-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* Герой */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
/* Section */
.section-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Переваги */

.feature-list .title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list.text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Команда */
.team-list .title {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .text {
  color: var(--title-text-color);

  line-height: 1.19;
}

/* Наші роботи */

.work-link {
  /*color: var(--title-text-color);

  line-height: 1.88;*/
  text-decoration: none;
}

.work-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-text {
  color: var(--title-text-color);

  line-height: 1.9;
}
/* Button */
.button {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);

  font-family: inherit;
}
.button.primary {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.button.primary:hover,
.button.primary:focus {
  color: var(--primary-text-color);
  background-color: var(--title-text-color);
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--accent-color);
}

.footer {
  background-color: #2f303a;
}

.footer .address {
  color: var(--primary-white-color);

  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.footer .address:hover,
.footer .address:focus {
  color: var(--accent-color);
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
